/* :root {
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(161, 28, 28, 0));// not in use
} */

.colournav {
  background-color: var(--bs-success-bg-subtle);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width >=992px) and (max-width: 1199.98px) {
  /* Your CSS styles here */
  .card .registercardsize{
    max-width: 900px;
    font-size: 18px;
  }
}
.validationerror {
  color:red;
  font-weight: 400;
  font-size: 14px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .indexval{
  position: relative;
  z-index: -1;
} */
 .titlename{
  color: var(--bs-green);
 }
.btnhover{
  background-color: var(--bs-green);
  transition: transform 0.3s ease-in-out;
}
.btnhover:hover{
  background-color: var(--bs-info-text-emphasis);
  transform: translate(-5px,-3px); 
  color: white;
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
